* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --p-color: #816AE2;
  --dark-p-color: #604BE8;
  --background: #f5f5f5;
  --black: #1E1E1F;
}